.main {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.loader {
  position: absolute;
  width: 5vw;
  height: 5vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 1s linear infinite;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/image/logo.png");
}
.fadeOut {
  animation: fadeOut 0.8s ease-out forwards;
}
@keyframes spin {
  0% {
    transform: translate(-50%, -45%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -45%) rotate(360deg);
  }
}
/* アニメーション定義 */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loader.sf {
  width: 15vw;
  height: 15vw;
  top: 45%;
  left: 50%;
}
