/* Remove scroll and set full viewport */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden;
  background: transparent; */
}

/* Remove default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure canvas doesn't interfere with layout */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

body.threescene {
  background: url("../public/models/background.svg") no-repeat center center
    fixed !important;
  background-size: cover !important;
  /* Đảm bảo ảnh lấp đầy màn hình */
  display: flex;
  justify-content: center;
  align-items: center;
}
