.container {
  position: fixed;
  height: 8vh;
  width: 100%;
  bottom: -10vh;
  left: 0;
  position: fixed;
  border-top: 1px solid black;
  transition: bottom 0.5s ease-out;
}

.scrollingImages {
  height: 100%;
  display: inline-flex;
  animation: scroll 10s linear infinite;
  will-change: transform;
  z-index: 1;
}

.scrollImage {
  margin-top: 3vh;
  padding: 0;
  height: 2.5vh;
  margin-left: 2vw;
  width: auto;
}
.scrollingImages_on:hover {
  background-color: rgba(164, 123, 150, 0.25);
}
.scrollingImages_off:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.container.show {
  bottom: 0; /* 表示位置 */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% / 10));
  }
}

.container.sf {
  height: 6vh;
}

.scrollImage.sf {
  margin-top: 2.5vh;
  height: 2vh;
  margin-left: 2vw;
  width: auto;
}
